
<input type="text" name="nameSearch" id="nameSearch">
<button (click)="searchName()">Submit</button>
<select name="nameList" id="nameList" (click)="showData()"  >
{{selectOption()}}
</select>
<br>


<div *ngIf="showNameData != '' ">
  <h1>Search match element</h1>
  <table style="width:100%">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Salary</th>
    </tr>

    <tr>
      <td>{{ showNameData.id }}</td>
      <td>{{ showNameData.name }}</td>
      <td>{{ showNameData.age }}</td>
      <td>{{ showNameData.salary }}</td>
    </tr>  
  </table>

</div>

<div *ngIf="nameSearchArr.length!=0    " >
  <h1>Search match element</h1>
  <table style="width:100%">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Salary</th>
    </tr>

    <tr *ngFor="let name of showNameData">
      <td>{{ name.name }}</td>
      <td>{{ name.name }}</td>
      <td>{{ name.age }}</td>
      <td>{{ name.salary }}</td>
    </tr>  
  <!-- <div > -->
      <tr  *ngFor="let emp of nameSearchArr">
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.age }}</td>
        <td>{{ emp.salary }}</td>
      </tr>
  <!-- </div> -->
  </table>

</div>

<br>

<table style="width:100%">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Salary</th>
  </tr>
<!-- <div > -->
    <tr *ngFor="let emp of empArr">
      <td>{{ emp.id }}</td>
      <td>{{ emp.name }}</td>
      <td>{{ emp.age }}</td>
      <!-- <td>{{ emp.salary }} <input type="text" name="salary" [id]="emp.id" [value]= "emp.salary" (input)="emp.salary = $event.target.value" id="salary"> </td> -->
      <td>{{ emp.salary }} <input type="number" name="salary" [id]="emp.id" [value]= "emp.salary" (input)="emp.salary = $event.target.value" id="salary"> </td>
    </tr>
<!-- </div> -->
</table>
<div>
  <button (click)="totalSalary()">Total Salary</button>
  <h2 id="totalSalary"></h2>
</div>