<!-- search name and drop down box -->
<input type="text" name="nameSearch" id="nameSearch">
<button (click)="searchName()">Submit</button>
<select name="nameList" id="nameList" (click)="showData()"  >
{{selectOption()}}
</select>
<br>



<div *ngIf="dropDownShowData">  
  <!-- <h1>hi</h1> -->
  <h1>Search match element</h1>
  <table style="width:100%">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Salary</th>
    </tr>
    <tr>
      <td>{{ showNameData.id }}</td>
      <td>{{ showNameData.name }}</td>
      <td>{{ showNameData.age }}</td>
      <td>{{ showNameData.salary }}</td>
    </tr>
    </table>

</div>

<!-- input search tabel -->
<div *ngIf="nameSearchArr.length>0" >
  <h1>Search match element</h1>
  <table style="width:100%">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Salary</th>
    </tr>

      <tr  *ngFor="let emp of nameSearchArr">
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.age }}</td>
        <td>{{ emp.salary }}</td>
      </tr>
  </table>
</div>

<br>







<!-- all empArr show in table form  -->
<table style="width:100%">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Salary</th>
  </tr>
  
    <tr *ngFor="let emp of empArr">
      <td>{{ emp.id }}</td>
      <td>{{ emp.name }}</td>
      <td>{{ emp.age }}</td>
      <td>{{ emp.salary }} <input type="number" name="salary" [id]="emp.id" [value]= "emp.salary" (input)="emp.salary = $event.target.value" id="salary"> </td>
    </tr>
</table>
<div>
  <button (click)="totalSalary()">Total Salary</button>
  <h2 id="totalSalary"></h2>
</div>